<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transcendence.aidlserver">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ServerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AIDL Server"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AidlTest">
        <service
            android:name=".MyServiceKt"
            android:enabled="true"
            android:exported="true">
            <intent-filter >
                <action android:name="com.transcendence.aidlserver.action"/>
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivityKt"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>